# name: Pull Request

# on:
#   pull_request:
#     branches: [main]

# jobs:
#   build:
#     runs-on: ubuntu-latest

#     # strategy:
#     #   matrix:
#     #     node-version: [14.x]

#     env:
#       GH_TOKEN: ${{ secrets.GH_TOKEN }}
#       NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

#     steps:
#       - uses: actions/checkout@v3
#         with:
#           fetch-depth: 0
#       - name: Use Node.js
#         uses: actions/setup-node@v3
#         with:
#           # node-version: ${{ matrix.node-version }}
#           node-version: 16.x
#           # cache: 'npm'
#       - run: npm ci
#       - run: npm run test
#       - run: npm run build
#       - run: npm pack
